:root {

    /* Primary color shades */
    --md-primary-fg-color: #419744;
    --md-primary-fg-color--light: #79ce7d;
    --md-primary-fg-color--dark: #2a882f;

    /* Accent color shades */
    --md-accent-fg-color: #419744;

  }
  
  :root > * {
  

    /* Footer */
    --md-footer-bg-color: #4cae4f;

  }

 

